body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weathercard{
  /* border-style: solid; */
  width: 300px;
  /* overflow-x: scroll; */
  padding: 20px;

}
.stackscroll{
  overflow-x: scroll;
  padding: 100px;
}

.button1{
  width: 500px;
}

.minmaxmean{
  overflow-x: scroll;
  width: 70%;
  height: 500px;
  /* max-width: 500px; */
}

.chartWrapper {/* w w w. j a v  a2 s.co  m*/
  position: relative;
}
.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
}
.chartAreaWrapper {
  width: 600px;
  overflow-x: scroll;
}

.barChart{
  max-width: 700px;
  overflow-x: scroll;
}
.Gauges{
  max-width: 700px;
  overflow-x: scroll;
  margin-right: 120px;
}